In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("E:\Delivery Project\deliverytime.csv")

In [5]:
data.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
0,4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,24
1,B379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,33
2,5D6D,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,26
3,7A6A,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,21
4,70A2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,30

In [7]:
data.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Type_of_order', 'Type_of_vehicle',
       'Time_taken(min)'],
      dtype='object')

In [9]:
data["Type_of_order"].unique()

array(['Snack ', 'Drinks ', 'Buffet ', 'Meal '], dtype=object)

In [11]:
data["Type_of_vehicle"].unique()

array(['motorcycle ', 'scooter ', 'electric_scooter ', 'bicycle '],
      dtype=object)

In [13]:
data.head(1)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
0,4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,24

In [21]:
data.drop(["ID","Delivery_person_ID"],inplace = True,axis = 1)

In [25]:
data.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
0,37,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,24
1,34,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,33
2,23,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,26
3,38,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,21
4,32,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,30

In [27]:
data = pd.get_dummies(data,columns=["Type_of_order","Type_of_vehicle"]).astype(int)

In [29]:
data.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_taken(min),Type_of_order_Buffet,Type_of_order_Drinks,Type_of_order_Meal,Type_of_order_Snack,Type_of_vehicle_bicycle,Type_of_vehicle_electric_scooter,Type_of_vehicle_motorcycle,Type_of_vehicle_scooter
0,37,4,22,75,22,75,24,0,0,0,1,0,0,1,0
1,34,4,12,77,13,77,33,0,0,0,1,0,0,0,1
2,23,4,12,77,12,77,26,0,1,0,0,0,0,1,0
3,38,4,11,76,11,77,21,1,0,0,0,0,0,1,0
4,32,4,12,80,13,80,30,0,0,0,1,0,0,0,1

In [31]:
X = data.drop(["Time_taken(min)"],axis = 1)

In [33]:
y = data["Time_taken(min)"]

In [35]:
y

0        24
1        33
2        26
3        21
4        30
         ..
45588    32
45589    36
45590    16
45591    26
45592    36
Name: Time_taken(min), Length: 45593, dtype: int32

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [39]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [43]:
print(X_train.shape,"X_train")
print(X_test.shape,"X_test")
print(y_train.shape,"y_train")
print(y_test.shape,"y_test")

(36474, 14) X_train
(9119, 14) X_test
(36474,) y_train
(9119,) y_test

In [45]:
model = LinearRegression
model

sklearn.linear_model._base.LinearRegression

In [55]:
import numpy as np
from sklearn.linear_model import LinearRegression

# Assuming X_train and y_train are pandas DataFrames or Series
X_train_np = X_train.values  # Convert DataFrame to NumPy array
y_train_np = y_train.values  # Convert Series to NumPy array

# Create an instance of the model
model = LinearRegression()

# Fit the model
model.fit(X_train_np, y_train_np)

LinearRegression()

In [69]:
y_pred = model.predict(X_test)

C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [83]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test,y_pred)
mae

7.053417556514416

In [85]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
mse

76.56344694133611

In [87]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
r2

0.12676694786343334

MAE is in the same unit as your target variable. 
For example, if you're predicting delivery time in minutes, an MAE of 7 minutes may be acceptable if the average delivery time 
is around 30 minutes. However, if the average delivery time is 10 minutes, an MAE of 7 minutes would be considered high.

In [89]:
data["Time_taken(min)"].mean()

26.29460662821047

In [97]:
data

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order_Buffet,Type_of_order_Drinks,Type_of_order_Meal,Type_of_order_Snack,Type_of_vehicle_bicycle,Type_of_vehicle_electric_scooter,Type_of_vehicle_motorcycle,Type_of_vehicle_scooter
0,37,4,22,75,22,75,0,0,0,1,0,0,1,0
1,34,4,12,77,13,77,0,0,0,1,0,0,0,1
2,23,4,12,77,12,77,0,1,0,0,0,0,1,0
3,38,4,11,76,11,77,1,0,0,0,0,0,1,0
4,32,4,12,80,13,80,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,30,4,26,75,26,75,0,0,1,0,0,0,1,0
45589,21,4,0,0,0,0,1,0,0,0,0,0,1,0
45590,30,4,13,80,13,80,0,1,0,0,0,0,0,1
45591,20,4,11,76,11,77,0,0,0,1,0,0,1,0
45592,23,4,23,85,23,85,0,0,0,1,0,0,0,1

In [111]:
sampled_data2 = data.sample(n=50, random_state=1)  # Adjust 'your_dataframe' with your actual DataFrame variable

In [115]:
sampled_data2.to_csv("E:\Delivery Project\sample_n.csv")

In [119]:
sampled_data2.shape

(50, 14)

In [121]:
n = pd.read_csv("E:\Delivery Project\sample_n.csv")

In [125]:
n.drop(["Unnamed: 0"],axis = 1,inplace = True)

In [127]:
n.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order_Buffet,Type_of_order_Drinks,Type_of_order_Meal,Type_of_order_Snack,Type_of_vehicle_bicycle,Type_of_vehicle_electric_scooter,Type_of_vehicle_motorcycle,Type_of_vehicle_scooter
0,23,4,22,75,22,75,0,0,0,1,0,0,0,1
1,28,4,0,0,0,0,0,1,0,0,0,0,1,0
2,39,3,12,77,13,77,1,0,0,0,0,1,0,0
3,37,4,22,88,22,88,0,1,0,0,0,0,1,0
4,20,4,-15,73,15,74,0,0,1,0,0,0,0,1

In [129]:
sample_predict = model.predict(n)

C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [136]:
sample_predict = pd.DataFrame(sample_predict)

In [162]:
sample_predict.columns = ["Time"] + list(sample_predict.columns[1:])

In [183]:
sample_predict.head(10)

        Time
0  21.559507
1  26.743869
2  32.337986
3  31.338169
4  20.269234
5  28.547989
6  29.492348
7  26.087930
8  26.990749
9  26.316864

In [170]:
result = pd.concat([n, sample_predict], axis=1)

In [185]:
result.head(10)

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order_Buffet,Type_of_order_Drinks,Type_of_order_Meal,Type_of_order_Snack,Type_of_vehicle_bicycle,Type_of_vehicle_electric_scooter,Type_of_vehicle_motorcycle,Type_of_vehicle_scooter,Time
0,23,4,22,75,22,75,0,0,0,1,0,0,0,1,21.559507
1,28,4,0,0,0,0,0,1,0,0,0,0,1,0,26.743869
2,39,3,12,77,13,77,1,0,0,0,0,1,0,0,32.337986
3,37,4,22,88,22,88,0,1,0,0,0,0,1,0,31.338169
4,20,4,-15,73,15,74,0,0,1,0,0,0,0,1,20.269234
5,38,4,18,73,18,73,0,1,0,0,0,0,0,1,28.547989
6,32,3,30,78,30,78,0,0,1,0,0,0,0,1,29.492348
7,33,4,0,0,0,0,0,0,0,1,0,0,0,1,26.087930
8,34,4,23,85,23,85,0,0,1,0,0,0,0,1,26.990749
9,27,4,12,76,12,76,0,1,0,0,0,0,1,0,26.316864