In [161]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [163]:
data = pd.read_csv("E:\Elevator\predictive-maintenance-dataset.csv")

In [164]:
data.head()

,ID,revolutions,humidity,vibration,x1,x2,x3,x4,x5
0,1,93.744,73.999,18.0,167.743,19.745,1.266828,8787.937536,5475.852001
1,2,93.740,73.999,18.0,167.739,19.741,1.266774,8787.187600,5475.852001
2,3,93.736,73.998,18.0,167.734,19.738,1.266737,8786.437696,5475.704004
3,4,93.732,73.998,18.0,167.730,19.734,1.266683,8785.687824,5475.704004
4,5,93.729,73.998,18.0,167.727,19.731,1.266642,8785.125441,5475.704004

In [167]:
data.isnull().sum()

ID                0
revolutions       0
humidity          0
vibration      2438
x1                0
x2                0
x3                0
x4                0
x5                0
dtype: int64

In [169]:
data["vibration"] = data["vibration"].fillna(data["vibration"].mean())

In [171]:
data.isnull().sum()

ID             0
revolutions    0
humidity       0
vibration      0
x1             0
x2             0
x3             0
x4             0
x5             0
dtype: int64

In [173]:
data.drop(["ID"],axis = 1 , inplace = True)

In [175]:
data.head()

,revolutions,humidity,vibration,x1,x2,x3,x4,x5
0,93.744,73.999,18.0,167.743,19.745,1.266828,8787.937536,5475.852001
1,93.740,73.999,18.0,167.739,19.741,1.266774,8787.187600,5475.852001
2,93.736,73.998,18.0,167.734,19.738,1.266737,8786.437696,5475.704004
3,93.732,73.998,18.0,167.730,19.734,1.266683,8785.687824,5475.704004
4,93.729,73.998,18.0,167.727,19.731,1.266642,8785.125441,5475.704004

In [177]:
X = data.drop(["revolutions"],axis = 1)
y = data["revolutions"]

In [179]:
X.head()

   humidity  vibration       x1      x2        x3           x4           x5
0    73.999       18.0  167.743  19.745  1.266828  8787.937536  5475.852001
1    73.999       18.0  167.739  19.741  1.266774  8787.187600  5475.852001
2    73.998       18.0  167.734  19.738  1.266737  8786.437696  5475.704004
3    73.998       18.0  167.730  19.734  1.266683  8785.687824  5475.704004
4    73.998       18.0  167.727  19.731  1.266642  8785.125441  5475.704004

In [181]:
y.head()

0    93.744
1    93.740
2    93.736
3    93.732
4    93.729
Name: revolutions, dtype: float64

In [183]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [185]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [187]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [291]:
y_pred = model.predict(X_test)
y_pred

array([19.891, 73.874, 35.875, ..., 64.399, 87.423, 63.734])

In [191]:
mse = mean_squared_error(y_test, y_pred)
rmse = mse ** 0.5
r2 = r2_score(y_test, y_pred)

In [193]:
print("mse",mse)
print("rmse",rmse)
print("r2_score",r2)

mse 1.252557719066649e-27
rmse 3.539149218479844e-14
r2_score 1.0

In [195]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test,y_pred)
mae

2.8563335845080535e-14

In [197]:
print('Coefficients:', model.coef_)
print('Intercept:', model.intercept_)

Coefficients: [-1.82716700e-13  5.95877514e-16  5.00000000e-01  5.00000000e-01
 -1.03765861e-13  1.04083409e-17  3.77822773e-15]
Intercept: 1.993782916542841e-11

In [199]:
sample = data.copy()

In [201]:
sample.head()

,revolutions,humidity,vibration,x1,x2,x3,x4,x5
0,93.744,73.999,18.0,167.743,19.745,1.266828,8787.937536,5475.852001
1,93.740,73.999,18.0,167.739,19.741,1.266774,8787.187600,5475.852001
2,93.736,73.998,18.0,167.734,19.738,1.266737,8786.437696,5475.704004
3,93.732,73.998,18.0,167.730,19.734,1.266683,8785.687824,5475.704004
4,93.729,73.998,18.0,167.727,19.731,1.266642,8785.125441,5475.704004

In [203]:
sample.drop(["revolutions"],axis = 1 , inplace = True)

In [205]:
n_sample = sample.sample(n= 400)

In [207]:
n_sample.to_csv("E:\\Elevator\\n_sample.csv")

In [209]:
n_sample = pd.read_csv("E:\\Elevator\\n_sample.csv")

In [211]:
n_sample.head()

,Unnamed: 0,humidity,vibration,x1,x2,x3,x4,x5
0,4316,72.676,21.92,150.679,5.327,1.073298,6084.468009,5281.800976
1,23287,74.638,78.91,142.974,-6.302,0.915566,4669.808896,5570.831044
2,77932,74.003,6.48,110.463,-37.543,0.492683,1329.331600,5476.444009
3,5259,72.605,21.69,149.698,4.488,1.061814,5943.330649,5271.486025
4,88044,74.597,4.98,95.355,-53.839,0.278269,430.894564,5564.712409

In [213]:
n_sample.drop(["Unnamed: 0"],axis = 1 , inplace = True)

In [215]:
n_sample

     humidity  vibration       x1      x2        x3           x4           x5
0      72.676      21.92  150.679   5.327  1.073298  6084.468009  5281.800976
1      74.638      78.91  142.974  -6.302  0.915566  4669.808896  5570.831044
2      74.003       6.48  110.463 -37.543  0.492683  1329.331600  5476.444009
3      72.605      21.69  149.698   4.488  1.061814  5943.330649  5271.486025
4      74.597       4.98   95.355 -53.839  0.278269   430.894564  5564.712409
..        ...        ...      ...     ...       ...          ...          ...
395    74.682       8.00  140.453  -8.911  0.880681  4325.824441  5577.401124
396    74.505       8.00  140.276  -8.734  0.882773  4325.824441  5550.995025
397    74.806       8.00  140.429  -9.183  0.877242  4306.378129  5595.937636
398    74.034      23.93   95.172 -52.896  0.285517   446.815044  5481.033156
399    74.053      19.21  138.251  -9.855  0.866920  4121.383204  5483.846809

[400 rows x 7 columns]

In [220]:
n_sample_predict = model.predict(n_sample) 
n_sample_predict = pd.DataFrame(n_sample_predict)
n_sample_predict.head()

        0
0  78.003
1  68.336
2  36.460
3  77.093
4  20.758

In [227]:
X

,humidity,vibration,x1,x2,x3,x4,x5
0,73.999,18.00,167.743,19.745,1.266828,8787.937536,5475.852001
1,73.999,18.00,167.739,19.741,1.266774,8787.187600,5475.852001
2,73.998,18.00,167.734,19.738,1.266737,8786.437696,5475.704004
3,73.998,18.00,167.730,19.734,1.266683,8785.687824,5475.704004
4,73.998,18.00,167.727,19.731,1.266642,8785.125441,5475.704004
...,...,...,...,...,...,...,...
111996,73.992,2.00,94.178,-53.806,0.272813,407.474596,5474.816064
111997,73.992,20.01,94.178,-53.806,0.272813,407.474596,5474.816064
111998,73.992,20.01,94.177,-53.807,0.272800,407.434225,5474.816064
111999,73.992,20.00,94.177,-53.807,0.272800,407.434225,5474.816064
112000,73.992,2.00,94.176,-53.808,0.272786,407.393856,5474.816064

In [241]:
y_test = pd.DataFrame(y_test)

In [346]:
y_test.reset_index(inplace = True)
#y_test.drop(["level_0","index"],axis = 1, inplace = True)

In [231]:
y_pred

array([19.891, 73.874, 35.875, ..., 64.399, 87.423, 63.734])

In [263]:
y_test.drop(["level_0"],axis = 1 , inplace = True)

In [267]:
y_test.drop(["index"],axis = 1 ,inplace = True)

In [269]:
y_test

       revolutions
0           19.891
1           73.874
2           35.875
3           53.237
4           64.289
...            ...
22396       19.581
22397       65.647
22398       64.399
22399       87.423
22400       63.734

[22401 rows x 1 columns]

In [287]:
y_pred = pd.DataFrame(y_pred)

In [295]:
y_pred = pd.DataFrame(y_pred)

In [299]:
y_pred.rename(columns = {"0":"y_pred"},inplace = True)

In [301]:
y_pred

            0
0      19.891
1      73.874
2      35.875
3      53.237
4      64.289
...       ...
22396  19.581
22397  65.647
22398  64.399
22399  87.423
22400  63.734

[22401 rows x 1 columns]

In [303]:
print(y_pred.columns)

Index([0], dtype='int64')

In [305]:
y_pred.rename(columns={"0": "y_pred"}, inplace=True)

In [307]:
print(y_pred.columns)

Index([0], dtype='int64')

In [312]:
print(list(y_pred.columns))

[0]

In [316]:
y_pred.columns = y_pred.columns.astype(str)
print(list(y_pred.columns))

['0']

In [318]:
y_pred.rename(columns={"0": "y_pred"}, inplace=True)
print(list(y_pred.columns))

['y_pred']

In [320]:
X.head()

   humidity  vibration       x1      x2        x3           x4           x5
0    73.999       18.0  167.743  19.745  1.266828  8787.937536  5475.852001
1    73.999       18.0  167.739  19.741  1.266774  8787.187600  5475.852001
2    73.998       18.0  167.734  19.738  1.266737  8786.437696  5475.704004
3    73.998       18.0  167.730  19.734  1.266683  8785.687824  5475.704004
4    73.998       18.0  167.727  19.731  1.266642  8785.125441  5475.704004

In [322]:
y_test.head()

   revolutions
0       19.891
1       73.874
2       35.875
3       53.237
4       64.289

In [326]:
y_pred.head()

   y_pred
0  19.891
1  73.874
2  35.875
3  53.237
4  64.289

In [342]:
X_test

,humidity,vibration,x1,x2,x3,x4,x5
101506,73.511,33.77,93.402,-53.620,0.270585,395.651881,5403.867121
8213,72.447,21.27,146.321,1.427,1.019697,5457.367876,5248.567809
72371,74.280,69.07,110.155,-38.405,0.482970,1287.015625,5517.518400
42838,75.041,9.42,128.278,-21.804,0.709439,2834.178169,5631.151681
35038,74.547,8.00,138.836,-10.258,0.862396,4133.075521,5557.255209
...,...,...,...,...,...,...,...
101767,73.478,34.42,93.059,-53.897,0.266488,383.415561,5399.016484
21582,74.255,10.02,139.902,-8.608,0.884075,4309.528609,5513.805025
35100,74.544,8.00,138.943,-10.145,0.863906,4147.231201,5556.807936
1638,73.467,19.64,160.890,13.956,1.189963,7642.780929,5397.400089
12385,73.396,25.13,137.130,-9.662,0.868358,4062.022756,5386.972816

In [348]:
X_test.reset_index()

,index,humidity,vibration,x1,x2,x3,x4,x5
0,101506,73.511,33.77,93.402,-53.620,0.270585,395.651881,5403.867121
1,8213,72.447,21.27,146.321,1.427,1.019697,5457.367876,5248.567809
2,72371,74.280,69.07,110.155,-38.405,0.482970,1287.015625,5517.518400
3,42838,75.041,9.42,128.278,-21.804,0.709439,2834.178169,5631.151681
4,35038,74.547,8.00,138.836,-10.258,0.862396,4133.075521,5557.255209
...,...,...,...,...,...,...,...,...
22396,101767,73.478,34.42,93.059,-53.897,0.266488,383.415561,5399.016484
22397,21582,74.255,10.02,139.902,-8.608,0.884075,4309.528609,5513.805025
22398,35100,74.544,8.00,138.943,-10.145,0.863906,4147.231201,5556.807936
22399,1638,73.467,19.64,160.890,13.956,1.189963,7642.780929,5397.400089
22400,12385,73.396,25.13,137.130,-9.662,0.868358,4062.022756,5386.972816

In [356]:
X_test  = pd.concat([X_test,y_test,y_pred],axis = 1)